// sequels index

// import
@import "base/const";

// main
.layout__sequels__form {

  .layout__sequels__form__content {
    min-height: $editor_size_small; // bootstrapによる上書き height: auto; 回避のため
    height: $editor_size_small;

    @media (max-width: $screen-xs-max) {
      min-height: $editor_size_x_small;
      height: $editor_size_x_small;
    }
  }
}

