// sequels index

// import
@import "base/const";
@import "base/util";
@import "module/panel";
@import "module/markdown";

// main
.layout__sequels__index {
  @include util__layout;

  .layout__sequels__index__item {

    .layout__sequels__index__item__divide {
      margin: $margin_size_x_small 0;
    }

    .layout__sequels__index__item__edit,
    .layout__sequels__index__item__delete,
    .layout__sequels__index__item__information {
      @extend .text-muted;
      font-size: $font_size_small;
    }
  }
}

