// home

// import
@import "base/const";
@import "module/button";

// main
.layout__home {
  width: 100%;
  text-align: center;

  @mixin layout__home__signup() {
    margin-top: $margin_size_small;
  }

  @mixin layout__home__login() {
    margin-top: $margin_size_small;
  }

  .layout__home__impress {
    padding: $margin_size_xx_large 0;
    background-image: image-url('top.jpg');
    background-size: cover;

    .layout__home__impress__inner {
      @extend .container;

      .layout__home__impress__inner__message {
        margin: 0;
        font-size: $font_size_x_large;
        font-weight: bold;
      }

      .layout__home__impress__inner__description {
        margin-top: $margin_size_small;
        font-size: $font-size-small;
      }

      .layout__home__impress__inner__signup {
        @include layout__home__signup;
      }

      .layout__home__impress__inner__login {
        @include layout__home__login;
      }
    }
  }

  .layout__home__explain {
    @extend .container;

    @mixin layout__home__explain__inner() {
      margin-top: $margin_size_x_large;
    }

    @mixin layout__home__explain__inner__title() {
      margin-bottom: $margin_size_middle;
    }

    .layout__home__explain__inner1 {
      @include layout__home__explain__inner;
      @extend .row;

      .layout__home__explain__inner1__title {
        @include layout__home__explain__inner__title;
      }

      .layout__home__explain__inner1__content {
        @extend .col-sm-4;
        @extend .col-xs-12;
        margin-top: $margin_size_middle;

        .layout__home__explain__inner1__content__icon {
          font-size: $icon_size_large;
          padding-right: $margin_size_x_small;
          color: darken($brand-primary, 20%);

          @media (max-width: $screen-xs-max) {
            padding-right: 0;
          }
        }

        .layout__home__explain__inner1__content__title {
          margin-top: 0;
          padding-right: $margin_size_small;

          @media (max-width: $screen-xs-max) {
            padding-right: 0;
          }
        }
      }
    }

    .layout__home__explain__inner2 {
      @include layout__home__explain__inner;

      .layout__home__explain__inner2__title {
        @include layout__home__explain__inner__title;
      }

      .layout__home__explain__inner2__description {
        @extend .row;

        .layout__home__explain__inner2__description__text {
          @extend .col-sm-6;
          @extend .col-sm-offset-3;
          @extend .col-xs-12;
        }
      }

      .layout__home__explain__inner2__signup {
        @include layout__home__signup;
      }

      .layout__home__explain__inner2__login {
        @include layout__home__login;
      }
    }
  }
}
