// home

// import
@import "base/const";
@import "base/util";
@import "module/table";

// main
.layout__static {
  @extend .container;
  @include util__layout;

  .layout__static__header {
    margin-top: $margin_size_xx_small; // => same as tale view header
  }

  .layout__static__about {
    .layout__static__about__image {
      display: none;

      @media (max-width: $screen-xs-max) {
        display: block;
        margin: auto;
        height: auto;
        width: 90%;
      }
    }
  }

  .layout__static__contact {
    text-align: center;

    @mixin contact_button() {
      width: 150px; // FIXME
      margin-top: $margin_size_middle;
      padding: $margin_size_x_small;
      border: none;
      border-radius: $margin_size_xx_small;
      color: white;

      .fa {
        margin-bottom: $margin_size_xx_small;
        font-size: $font_size_x_large * 2;
      }
    }

    .layout__static__contact__twitter {
      @include contact_button();
      background-color: #00aced; // twitter theme
    }

    .layout__static__contact__github {
      @include contact_button();
      background-color: #87c040; // github theme
      margin-left: $margin_size_small;

      @media (max-width: $screen-xs-max) {
        margin-left: 0;
      }
    }
  }

  .layout__static__privacy {
    table {
      @extend .module__table;
      table-layout: fixed;
    }

    tr {
      width: 50%;
    }
  }

  .layout__static__support {
    table {
      @extend .module__table;
      table-layout: fixed;
    }

    table, p {
      max-width: $editor_size_large;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
}
