<div class="sequel-form">
  <%= f.text_area :content, class: 'sequel-form-content' %>
  <%= hidden_field_tag :view_number, @tale.view_number %>
  <%= f.submit 'Post', class: 'module__button' %>
</div>
