<div class="layout__sequels__form module__form">
  <div class="module__form__field">
    <%= f.text_area :content, class: 'layout__sequels__form__content module__form__field__text module__form__field__text--fixed' %>
  </div>
  <div>
    <%= hidden_field_tag :view_number, @tale.view_number %>
    <%= f.submit 'Post', class: 'module__button' %>
  </div>
</div>
