<div class="layout__sequels__index">
  <% @sequels.each do |sequel| %>
    <div class="layout__sequels__index__item">

      <div class="layout__sequels__index__item__content">
        <%= sequel.content %>
      </div>

      <hr class="layout__sequels__index__item__divide"/>

      <div class="layout__sequels__index__item__number">
        <%= sequel.view_number.ordinalize %> comment :
      </div>

      <div class="layout__sequels__index__item__information">
        created at <%= sequel.created_at.strftime('%Y-%b-%d %H:%M') %>
        <% unless sequel.created_at == sequel.updated_at %>
            | updated at <%= sequel.updated_at.strftime('%Y-%b-%d %H:%M') %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
