<div id="script__sequel__0" class="layout__sequels__new">

  <div v-cloak>
    <%= form_for(new_sequel, url: create_sequel_path) do |f| %>
        <%= render 'sequels/form', f: f, index: 0, tale: tale %>
    <% end %>
  </div>

  <a v-on:click="showModal" class="module__button module__button--small module__button--wide"><%= t('.button') %></a>
</div>
