<div class="layout__tale__edit">
  <p><%= render 'breadcrumb_3_tale', forth_page: Constants::EDIT_TALE_PATH_NAME, tale: @tale %></p>

  <%= form_for @tale do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
