<% @page_title = t('views.path.name.about') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>
  <p>TODO: Write down concept of application here.</p>
</div>
