<% @page_title = t('views.path.name.contact') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>
  <div class="layout__static__contact">
    <p><%= t('.message_html') %></p>
    <button type="button" class="layout__static__contact__twitter"
            onclick="window.location.href='http://twitter.com/yuzutas0/'">
      <%= fa_icon('twitter') %><br/>Developer's Twitter
    </button>
    <button type="button" class="layout__static__contact__github"
            onclick="window.location.href='http://github.com/yuzutas0/my100tales/'">
      <%= fa_icon('github') %><br/>GitHub Repository
    </button>
  </div>
</div>
