<% @page_title = t('views.path.name.privacy') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>
  <p><%= render_i18n t('views.privacy.text_html') %></p>
</div>
