<% @page_title = t('views.path.name.privacy') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>
  <div class="layout__static__privacy">
    <%= i18n_text_format t('views.privacy.text1_html') %>
    <%= i18n_table_format t('views.privacy.text2_html') %>
    <%= i18n_text_format t('views.privacy.text3_html') %>
  </div>
</div>
