<% @page_title = t('views.path.name.terms') %>
<div class="layout__static">
  <p class="layout__static__header"><%= render 'layouts/breadcrumb_1', second_page: @page_title %></p>
  <hr>
  <p><%= simple_format(t('views.terms.text_html')) %></p>
</div>
