<div class="layout__tags__index">
  <p class="layout__tags__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: Constants::TAG_INDEX_PATH_NAME %>
  </p>
  <hr>

  <p>test</p>
</div>
