// form

// import
@import "base/const";

// main
.module__form {

  .module__form__field {
    @extend .form-group;

    .module__form__field__text {
      @extend .form-control;

      &--fixed {
        resize: none;
      }
    }
  }

  .module__form__checkbox {
    @extend .checkbox;
  }

  .module__form__label {
    margin-right: $margin_size_x_small;

    .module__form__label__text {
      font-weight: normal;
    }
  }
}
