// label

// import
@import "base/const";

// main
.module__label {
  @extend .label;
  @extend .label-primary;
  font-weight: normal !important; // cancel bootstrap
  line-height: 2 !important; // cancel bootstrap
}
