<% @page_title = t('views.path.name.backup') %>
<div class="layout__backups">
  <p class="layout__backups__header">
    <%= render 'layouts/breadcrumb_account', fourth_page: @page_title %>
  </p>
  <hr>

  <div>
    <p>Create Backup</p>
    <p>Download Backup</p>
    <hr>
    <p><%= t('.delete') %></p>
  </div>
</div>
