// tale form

// import
@import "base/const";
@import "base/util";
@import "module/table";
@import "module/form";

// main
.layout__tale__form {

  .layout__tale__form__tab {
    @extend .visible-xs;
  }

  .layout__tale__form__content {
    @extend .row;

    .layout__tale__form__content__editor {
      @extend .col-sm-6;
      @extend .col-xs-12;

      .layout__tale__form__content__editor__inner {
        min-height: $editor_size_large; // bootstrapによる上書き height: auto; 回避のため
        height: $editor_size_large;

        @media (max-width: $screen-xs-max) {
          height: $editor_size_small;
        }
      }
    }

    .layout__tale__form__content__preview {
      @extend .col-sm-6;
      @extend .col-xs-11;
      padding: 0;
      right: $margin_size_small;
      bottom: $margin_size_xxx_small;

      @media (max-width: $screen-xs-max) {
        left: $margin_size_small;
      }

      .layout__tale__form__content__preview__inner {
        overflow: scroll;
        min-height: $editor_size_large; // bootstrapによる上書き height: auto; 回避のため
        height: $editor_size_large;

        @media (max-width: $screen-xs-max) {
          height: $editor_size_small;
        }

        table {
          @extend .module__table;
        }

        p, pre, ul, ol, table {
          @include util__markdown__text;
        }
      }
    }
  }
}
