// tale form

// import
@import "base/const";
@import "base/util";
@import "module/form";
@import "module/markdown";
@import "module/label";

// main
.layout__tale__form {

  // write down .module__form__field
  // in order to give priority than bootstrap/forms .form-control {...}
  .module__form__field .layout__tale__form__tags {
    height: auto;

    // the same style as bootstrap-tagsinput/dist/bootstrap-tagsinput.css
    .layout__tale__form__tag__item [data-role="remove"] {
      margin-left: $margin_size_xx_small;
      cursor: pointer;

      // the same style as bootstrap-tagsinput/dist/bootstrap-tagsinput.css
      &:after {
        content: "x";
        padding: 0 $margin_size_xxx_small;
      }
    }

    // the same style as bootstrap-tagsinput/dist/bootstrap-tagsinput.css
    .tt-input {
      border: none;
      box-shadow: none;
      outline: none;
      margin-left: $margin_size_xx_small;
      width: $editor_size_middle;
    }

    .layout__tale__form__suggest {
      &.tt-cursor {
        @extend .bg-primary;
      }
      .tt-highlight {
        @extend .text-warning;
      }
      .layout__tale__form__suggest__count {
        @extend .text-muted;
        @extend .pull-right;
      }
    }
  }

  .layout__tale__form__suggest__options {
    display: none;
  }

  .layout__tale__form__tab {
    @extend .visible-xs;
  }

  .layout__tale__form__content {
    @extend .row;

    @mixin size() {
      min-height: $editor_size_large; // bootstrapによる上書き height: auto; 回避のため
      height: $editor_size_large;

      @media (max-width: $screen-xs-max) {
        height: $editor_size_small;
      }
    }

    .layout__tale__form__content__editor {
      @extend .col-sm-6;
      @extend .col-xs-12;

      .layout__tale__form__content__editor__inner {
        @include size();
      }
    }

    .layout__tale__form__content__preview {
      @extend .col-sm-6;
      @extend .col-xs-11;
      padding: 0;
      right: $margin_size_small;
      bottom: $margin_size_xxx_small;

      @media (max-width: $screen-xs-max) {
        left: $margin_size_small;
      }

      .layout__tale__form__content__preview__inner {
        @include size();
        overflow: auto;
      }
    }
  }
}
