// tales index

// import
@import "base/const";
@import "base/util";
@import "module/label";
@import "module/list";

// main
.layout__tales__index {
  @extend .container;
  @include util__layout;

  .layout__tales__index__header__left {
    @extend .pull-left;
    margin-top: $margin_size_xx_small; // align height -> right button
  }

  .layout__tales__index__header__right {
    @extend .pull-right;
  }

  .layout__tales__index__header__end {
    @extend .clearfix;
  }

  .layout__tales__index__header__bottom {
    @extend .alert;
    @extend .alert-info;
  }

  .layout__tales__index__list__item__created {
    @extend .pull-left;
    @extend .text-muted;
    font-size: $font_size_small;
  }

  .layout__tales__index__list__item__sequels {
    @extend .pull-right;
  }

  .layout__tales__index__list__item__pretitle {
    @extend .clearfix;
  }

  .layout__tales__index__list__item__tags,
  .layout__tales__index__list__item__scores{
    margin-right: $margin_size_xxx_small;
  }

  .layout__tales__index__list__item__content {
    margin-top: $margin_size_x_small;
  }

  .layout__tales__index__pagination {
    text-align: center;
  }
}
