// tales index

// import
@import "base/const";
@import "base/util";

// main
.layout__tales__index {
  @extend .container;
  @include util__layout;

  .layout__tales__index__header {

    .layout__tales__index__header__left {
      @extend .pull-left;
      margin-top: $margin_size_xx_small; // align height -> right button
    }

    .layout__tales__index__header__right {
      @extend .pull-right;
    }

    .layout__tales__index__header__end {
      @extend .clearfix;
    }
  }

  .layout__tales__index__list {
    @extend .list-group;

    .layout__tales__index__list__item {
      @extend .list-group-item;

      .layout__tales__index__list__item__created {
        font-size: $font_size_small;
      }

      .layout__tales__index__list__item__title {
        font-size: $font_size_large;
        font-weight: bold;
      }

      .layout__tales__index__list__item__content {
        @extend .list-group-item-text;
        @extend .text-muted;
        font-size: $font_size_middle;
      }
    }
  }

  .layout__tales__index__pagination {
    text-align: center;
  }
}
