// tales index

// import
@import "base/const";
@import "base/util";

// main
.layout__tales__index {
  @extend .container;
  @include util__layout;

  .layout__tales__index__header {

    .layout__tales__index__header__left {
      @extend .pull-left;
      margin-top: $margin_size_xx_small; // align height -> right button
    }

    .layout__tales__index__header__right {
      @extend .pull-right;
    }

    .layout__tales__index__header__end {
      @extend .clearfix;
    }
  }

  .tales-index-list {
    @extend .list-group;

    .tales-index-item {
      @extend .list-group-item;

      .tales-index-created_at {
        font-size: $font_size_small;
      }
      .tales-index-title-outer {
        @extend .list-group-item-heading;

        .tales-index-title-inner {
          font-size: $font_size_large;
        }
      }
      .tales-index-label {
        @extend .bg-info;
        font-size: $font_size_small;
      }
      .tales-index-star {
        @extend .bg-warning;
        font-size: $font_size_small;
      }
      .tales-index-content {
        @extend .list-group-item-text;
        @extend .text-muted;
        font-size: $font_size_middle;
      }
    }
  }

  .layout__tales__index__pagination {
    text-align: center;
  }
}
