// tale search

// import
@import "base/util";
@import "module/badge";
@import "module/list";

// main
.layout__tale__search {

  // input tab
  .layout__tale__search__condition__score {
    display: inline-block;
    border: 1px solid $btn-default-border;
    border-radius: $margin_size_xx_small;
    padding: $margin_size_xx_small;
    margin-bottom: $margin_size_xx_small;

    .layout__tale__search__condition__score__key {
      margin-right: 0 !important; // cancel bootstrap
    }
  }

  .layout__tale__search__condition__save,
  .layout__tale__search__condition__name {
    @extend .pull-left;
  }

  .layout__tale__search__condition__end {
    @extend .clearfix;
  }

  // conditions tab
  .layout__tale__search__conditions {
    @extend .row;

    .layout__tale__search__conditions__item {
      @extend .col-sm-6;

      .layout__tale__search__conditions__item__end {
        @extend .visible-xs;
      }
    }
  }

  .layout__tale__search__conditions__end {
    @extend .hidden-xs;
  }
}
