// tale search

// import
@import "base/util";
@import "module/badge";

// main
.layout__tale__search {

  // input tab
  .layout__tale__search__condition__save,
  .layout__tale__search__condition__name {
    @extend .pull-left;
  }

  .layout__tale__search__condition__end {
    @extend .clearfix;
  }

  // conditions tab
  .layout__tale__search__conditions {
    @extend .row;

    .layout__tale__search__conditions__item {
      @extend .col-sm-6;

      .layout__tale__search__conditions__item__end {
        @extend .visible-xs;
      }
    }

    .layout__tale__search__conditions__end {
      @extend .hidden-xs;
    }
  }
}
