// tale show

// import
@import "base/const";
@import "base/util";
@import "module/table";
@import "module/label";

/* tale-show */
.layout__tale__show {
  @extend .container;
  @include util__layout;

  .layout__tale__show__header {

    .layout__tale__show__header__left {
      @extend .pull-left;
      margin-top: $margin_size_xx_small; // align height -> right button
    }

    .layout__tales__index__header__right {
      @extend .pull-right;
    }

    .layout__tale__show__header__end {
      @extend .clearfix;
    }
  }

  .tale-show-information {
    @extend .list-group;

    .tale-show-label-group, .tale-show-star-group, .tale-show-time-group {
      @extend .list-group-item;
    }
    .tale-show-label-heading, .tale-show-star-heading, .tale-show-time-heading {
      @extend .list-group-item-heading;
    }
    .tale-show-label-text, .tale-show-star-text, .tale-show-time-text {
      @extend .list-group-item-text;
    }
  }

  .layout__tale__show__content {

      table {
        @extend .module__table;
      }

      p, pre, ul, ol, table {
        font-size: $font_size_middle;
        width: auto;
      }
  }

  .sequels-index-list {
    @extend .list-group;

    .sequels-index-item {
      @extend .list-group-item;

      .sequels-index-content {
        @extend .list-group-item-heading;
      }

      .sequels-index-information {
        @extend .text-muted;
        @extend .list-group-item-text;
        font-size: $font_size_middle;
      }
    }
  }
}
