@import "bootstrap-sprockets";
@import "honoka"; /* @import "bootstrap"; */

/* const */
$font_size_large: 1.8rem;
$font_size_middle: 1.4rem;
$font_size_small: 1.2rem;

$editor_size_large: 45.0rem;
$editor_size_small: 25.0rem;

/* base */
p, a, button {
  font-size: $font_size_middle;
}

/* util */
.hidden {
  visibility: hidden;
}

/* component */
.shared-header {
  .shared-header-h1 {
    margin: 0;
    bottom: 0;
    font-size: $font_size_large;
  }
}

.shared-footer {
  /* put here if you need */
}

.tales-index {
  .tales-index-breadcrumb {
    margin-top: 0.8rem;
  }
  .tales-index-created_at, .tales-index-label, .tales-index-star {
    font-size: $font_size_small;
  }
  .tales-index-title {
    font-size: $font_size_large;
  }
  .tales-index-content {
    font-size: $font_size_middle;
  }
}

.tale-new {
  /* put here if you need */
}

.tale-show {
  .tale-show-information {
    /* put here if you need */
  }
  .tale-show-content {
    /* put here if you need */
  }
}

.tale-edit {
  /* put here if you need */
}

.tale-form {
  .tale-form-markdown-editor {
    resize: none;
    height: $editor_size_large;
    @media (max-width: $screen-sm) {
      height: $editor_size_small;
    }
  }
  .tale-form-markdown-preview {
    overflow: scroll;
    height: $editor_size_large;
    @media (max-width: $screen-sm) {
      height: $editor_size_small;
    }
  }
}