<div id="tab__first" class="module__markdown tab-pane fade <%= tab_class[0][1] %>"> <!-- tab -->
  <div class="module__panel">
    <div class="module__panel__inner"><%= markdown_to_html(tale.content) %></div>
  </div>
</div>
