<div class="layout__tale__search__conditions__item">
  <p><%= topic_name.capitalize %></p>
  <% if conditions.present? %>
    <ul class="module__list">
      <% conditions.each do |condition| %>
        <% display = condition.name.present? ? condition.name : '?' + condition.query_string %>
        <li class="module__list__item">
          <a href="<%= tales_path + '?' + condition.query_string %>"><%= display %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
  <p><%= t('views.message.blank.conditions') + ' ' + topic_name.downcase + '.' %></p>
  <% end %>
  <hr class="layout__tale__search__conditions__item__end">
</div>
