<div class="layout__tale__search">
  <p>Set condition</p>

  <%= form_tag tales_path, method: :get do %>
    <div class="module__form">
      <div class="module__form__field">
        <%= text_field_tag 'keyword', @queries.keyword, class: 'module__form__field__text', placeholder: 'Keyword' %>
      </div>
      <div>
        <%= submit_tag 'Search', name: nil, class: 'module__button module__button--small module__button--wide' %>
      </div>
    </div>
  <% end %>
</div>
