<span id="script__tale__search">
  <a v-on:click="showModal" class="module__button module__button--small"><%= fa_icon 'search' %></a>

  <div v-cloak>
    <div class="module__modal__outer" v-show="display">
      <div class="module__modal__background" v-on:click="closeModal">
      </div>
      <div class="module__modal">
        <div class="module__modal__inner">
          <%= render 'tales/_search/form',
                     queries: queries,
                     tags: tags,
                     tags_attached: tags_attached,
                     scores: scores,
                     scores_attached: scores_attached,
                     score_sort_master: score_sort_master,
                     default_sort_master: default_sort_master,
                     compare_master: compare_master,
                     search_conditions: search_conditions %>
        </div>
      </div>
    </div>
  </div>
</span>
