// footer

// import
@import "base/const";

// main
.layout__shared__footer {
  .layout__shared__footer__inner {
    @extend .container;
    @extend .text-muted;

    text-align: center;
    margin-bottom: $margin_size_middle;

    .layout__shared__footer__inner__copyright {
      float: left;

      @media (max-width: $screen-xs-max) {
        float: none;
        display: block;
        margin-bottom: $margin_size_xx_small;
      }
    }

    .layout__shared__footer__inner__links {
      display: inline-block;
      list-style: none;
      padding: 0;
      float: right;

      @media (max-width: $screen-xs-max) {
        float: none;
      }

      .layout__shared__footer__inner__link {
        display: inline-block;
        margin-left: $margin_size_x_small;
      }
    }
  }
}
