<% @page_title = t('views.path.name.conditions.index') %>
<div class="layout__conditions__index">
  <p class="layout__conditions__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: @page_title %>
  </p>
  <hr>
  <% saved_conditions = @search_conditions.select(&:save_flag) %>
  <%= render 'search_conditions/list', conditions: saved_conditions, topic_name: t('.saved') %>
  <hr>
  <% history_conditions = @search_conditions.reject(&:save_flag) %>
  <%= render 'search_conditions/list', conditions: history_conditions, topic_name: t('.history') %>
</div>
