<% @page_title = Constants::SEARCH_CONDITION_INDEX_PATH_NAME %>
<div class="layout__conditions__index">
  <p class="layout__conditions__index__header">
    <%= render 'layouts/breadcrumb_tale_2', third_page: Constants::SEARCH_CONDITION_INDEX_PATH_NAME %>
  </p>
  <hr>
  <%= render 'search_conditions/list', search_conditions: @search_conditions %>
</div>
