<div class="shared-footer">
  <hr>
  <div class="container">
    <p class="text-muted">© 2016 My100Tales.</p>
  </div>
</div>
<!-- TODO: contact, usage, terms of services, privacy policy -->

<%= render 'layouts/message' %>
