<div class="layout__shared__footer">
  <hr>
  <div class="layout__shared__footer__inner"><p>© 2016 My100Tales.</p></div>
  <!-- TODO: contact, usage, terms of services, privacy policy -->
  <%= render 'layouts/message' %>
</div>
